<p id="notice"><%= notice %></p>

<h1>Listing Allowedvalueslevels</h1>

<table>
  <thead>
    <tr>
      <th>Values</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @allowedvalueslevels.each do |allowedvalueslevel| %>
      <tr>
        <td><%= allowedvalueslevel.values %></td>
        <td><%= link_to 'Show', allowedvalueslevel %></td>
        <td><%= link_to 'Edit', edit_allowedvalueslevel_path(allowedvalueslevel) %></td>
        <td><%= link_to 'Destroy', allowedvalueslevel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Allowedvalueslevel', new_allowedvalueslevel_path %>
