<%= form_for(@handler) do |f| %>
  <% if @handler.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@handler.errors.count, "error") %> prohibited this test from being saved:</h2>

      <ul>
      <% @handler.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="panel panel-default">
    <div class="panel-heading">Basic details</div>
    <div class="panel-body">
      <table style="width:960px">
        <tr class="field">
          <td><%= f.label :instituteid %>*</td>
          <td><%= f.text_field :institutehandler_id %></td>
          <td><%= f.label :level %>*</td>
          <td><%= f.collection_select(:level, Allowedvalueslevel.all, :values, :values, prompt: true) %>
          <%= link_to 'Create new course level', allowedvalueslevels_path %></td>
        </tr>
        <tr class="field">
          <td><%= f.label :course %>*</td>
          <td><%= f.text_field :course %></td>
          <td><%= f.label :stream %>*</td>
          <td><%= f.text_field :stream %></td>
        </tr>
        <tr class="field">
          <td><%= f.label :activation %>*</td>
          <td><%= f.select :activation, options_for_select([TRUE, FALSE]) %></td>
          <td><%= f.label :eligibility %>*</td>
          <td><%= f.text_area :eligibility %></td>
        </tr>
        <tr class="field">
          <td><%= f.label :duration %>*</td>
          <td><%= f.text_field :duration %></td>
          <td><%= f.label :commencement %>*</td>
          <td><%= f.text_field :commencement %></td>
        </tr>
        <tr class="field">
          <td><%= f.label :averagefees %></td>
          <td><%= f.text_field :averagefees %></td>
          <td><%= f.label :averagebatchstrength %></td>
          <td><%= f.text_field :averagebatchstrength %></td>
        </tr>
        <tr class="field">
          <td><%= f.label :admission %>*</td>
          <td><%= f.text_area :admission %></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>

<div class="panel panel-default">
    <div class="panel-heading">Basic details</div>
    <div class="panel-body">
      <table style="width:960px">
        <tr class="field">
          <td><%= f.label :descintroduction %>*</td>
          <td><%= f.text_area :descintroduction %></td>
          <td><%= f.label :desccurriculum %>*</td>
          <td><%= f.text_area :desccurriculum %></td>
        </tr>
        <tr class="field">
          <td><%= f.label :descfuturescope %></td>
          <td><%= f.text_area :descfuturescope %></td>
          <td><%= f.label :descinfra %></td>
          <td><%= f.text_area :descinfra %></td>
        </tr>
        <tr class="field">
          <td><%= f.label :descnotableprofessors %></td>
          <td><%= f.text_area :descnotableprofessors %></td>
          <td><%= f.label :descinternships %></td>
          <td><%= f.text_area :descinternships %></td>
        </tr>
        <tr class="field">
          <td><%= f.label :descplacements %></td>
          <td><%= f.text_area :descplacements %></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
    

<%= f.submit %>
 
<% end %>
