<p id="notice"><%= notice %></p>

<p>
  <strong>Institution:</strong>
  <p> <%= link_to @handler.institutehandler.name, institutehandler_path(:id => @handler.institutehandler.id) %></p>
  <%=  %>
</p>

<p>
  <strong>Stream:</strong>
  <%= @handler.stream %>
</p>


<p>
  <strong>Level:</strong>
  <%= @handler.level %>
</p>

<p>
  <strong>Course:</strong>
  <%= @handler.course %>
</p>

<p>
  <strong>Activated?:</strong>
  <%= @handler.activation %>
</p>

<p>
  <strong>Eligibility:</strong>
  <%= @handler.eligibility %>
</p>

<p>
  <strong>duration:</strong>
  <%= @handler.duration %>
</p>

<p>
  <strong>commencement:</strong>
  <%= @handler.commencement %>
</p>

<p>
  <strong>averagefees:</strong>
  <%= @handler.averagefees %>
</p>

<p>
  <strong>averagebatchstrength:</strong>
  <%= @handler.averagebatchstrength %>
</p>

<p>
  <strong>descintroduction:</strong>
  <%= @handler.descintroduction %>
</p>

<p>
  <strong>desccurriculum:</strong>
  <%= @handler.desccurriculum %>
</p>

<p>
  <strong>descfuturescope:</strong>
  <%= @handler.descfuturescope %>
</p>

<p>
  <strong>descinfra:</strong>
  <%= @handler.descinfra %>
</p>
<p>
  <strong>descnotableprofessors:</strong>
  <%= @handler.descnotableprofessors %>
</p>
<p>
  <strong>descinternships:</strong>
  <%= @handler.descinternships %>
</p>
<p>
  <strong>descplacements:</strong>
  <%= @handler.descplacements %>
</p>
<p>
  <strong>admission:</strong>
  <%= @handler.admission %>
</p>


<%= link_to 'Edit', edit_handler_path(@handler) %> |
<%= link_to 'Back', handlers_path %>
