
<ul class="nav nav-tabs">
  <li role="presentation"><%= link_to 'Institutions', institutehandlers_path %></li>
  <li role="presentation" class="active"><%= link_to 'Institution based listings', handlers_path %></li>
</ul>
<p id="notice"><%= notice %></tr>
<div class="page-header">
<h2>Listing Institute based course </h2><%= link_to 'Create New Course Listings', new_handler_path %>
</div>
<div id="search" >
    <%= render :partial => 'handlers/search' %>
</div>

<table class="table" style="width:960px">
  <tr>
    <th style="width:100px">Attribute</th>  
    <th>Value</th>
  </tr>


  <tr>
  <td>Institution:</td>
  <td><%= link_to @handler.institutehandler.name, institutehandler_path(:id => @handler.institutehandler.id) %></td>
  <%=  %>
  </tr>

  <tr>
  <td>Stream:</td>
  <td><%= @handler.stream %></td>
  </tr>


  <tr>
    <td>Level:</td>
    <td><%= @handler.level %></td>
  </tr>

  <tr>
    <td>Course:</td>
    <td><%= @handler.course %></td>
  </tr>

  <tr>
    <td>Activated?:</td>
    <td><%= @handler.activation %></td>
  </tr>

  <tr>
    <td>Eligibility:</td>
    <td><%= @handler.eligibility %></td>
  </tr>

  <tr>
    <td>duration:</td>
    <td><%= @handler.duration %></td>
  </tr>

  <tr>
    <td>commencement:</td>
    <td><%= @handler.commencement %></td>
  </tr>

  <tr>
    <td>averagefees:</td>
    <td><%= @handler.averagefees %></td>
  </tr>

  <tr>
    <td>averagebatchstrength:</td>
    <td><%= @handler.averagebatchstrength %></td>
  </tr>

  <tr>
    <td>descintroduction:</td>
    <td><%= @handler.descintroduction %></td>
  </tr>

  <tr>
    <td>desccurriculum:</td>
    <td><%= @handler.desccurriculum %></td>
  </tr>

  <tr>
    <td>descfuturescope:</td>
    <td><%= @handler.descfuturescope %></td>
  </tr>

  <tr>
    <td>descinfra:</td>
    <td><%= @handler.descinfra %></td>
  </tr>
  <tr>
    <td>descnotableprofessors:</td>
    <td><%= @handler.descnotableprofessors %></td>
  </tr>
  <tr>
    <td>descinternships:</td>
    <td><%= @handler.descinternships %></td>
  </tr>
  <tr>
    <td>descplacements:</td>
    <td><%= @handler.descplacements %></td>
  </tr>
  <tr>
    <td>admission:</td>
    <td><%= @handler.admission %></td>
  </tr>

</table>

<%= link_to 'Edit', edit_handler_path(@handler) %> |
<%= link_to 'Back', handlers_path %>
