
 


<h1>Classmodium Search</h1>
 
<%= form_for search_path, method: :get do |f| %>
  <p>
    <%= f.label "Search for" %>
    <%= text_field_tag :q, params[:q] %>
    <%= submit_tag "Go", name: nil %>
  </p>
<% end %>

<ul>
  <% @res['hits']['hits'].each do |results|%>
  	<a href="http://localhost:3000/institutepage/<%= results['_source']['slug'] %>"><%= results['_source']['slug'] %></a></br>
  	<%= results['_source']['descintroduction'] %></br>
  	<% end %>
    
</ul>