<%= form_for(@institutehandler) do |f| %>
  <% if @institutehandler.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@institutehandler.errors.count, "error") %> prohibited this institutehandler from being saved:</h2>

      <ul>
      <% @institutehandler.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="panel panel-default">
  <div class="panel-heading">Basic details</div>
  <div class="panel-body">
    <table style="width:960px">
      <tr class="field">
        <td><%= f.label :name %></td>
        <td><%= f.text_field :name %></td>
        <td><%= f.label :affiliation %></td>
        <td><%= f.text_field :affiliation %></td>
      </tr>
      <tr class="field">
        <td><%= f.label :Established %></td>
        <td><%= f.number_field :Established %></td>
        <td><%= f.label :institutetype %></td>
        <td><%= f.text_field :institutetype %></td>
      </tr>
      <tr class="field">
        <td><%= f.label :city %></td>
        <td><%= f.text_field :city %></td>
        <td><%= f.label :state %></td>
        <td><%= f.text_field :state %></td>
      </tr>
      <tr class="field">
        <td><%= f.label :country %></td>
        <td><%= f.text_field :country %></td>
        <td><%= f.label :address %></td>
        <td><%= f.text_area :address %></td>
      </tr>
      <tr class="field">
        <td><%= f.label :accomodation %></td><td>
        Yes<%= radio_button("institutehandler", "accomodation", "yes") %>
        No
        <%= radio_button("institutehandler", "accomodation", "no") %></td>
        <td><%= f.label :latitute %></td>
        <td><%= f.text_field :latitute %></td>
      </tr>
      <tr class="field">
        <td><%= f.label :longitude %></td>
        <td><%= f.text_field :longitude %></td>
        <td><%= f.label :website %></td>
        <td><%= f.text_field :website %></td>
      </tr>
    </table>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Description</div>
  <div class="panel-body">
    <table style="width:960px">
      <tr class="field">
        <td><%= f.label :descintroduction %></td>
        <td><%= f.text_area :descintroduction %></td>
        <td><%= f.label :descacademics %></td>
        <td><%= f.text_area :descacademics %></td>
      </tr>
      <tr class="field">
        <td><%= f.label :descinfra %></td>
        <td><%= f.text_area :descinfra %></td>
        <td><%= f.label :desceaa %></td>
        <td><%= f.text_area :desceaa %></td>
      </tr>
      <tr class="field">
        <td><%= f.label :descnotablesuccess %></td>
        <td><%= f.text_area :descnotablesuccess %></td>
        <td><%= f.label :descmotto %><br>
        <td><%= f.text_field :descmotto %></td>
      </tr>
      <tr class="field">
        <td><%= f.label :desccampus %><br>
        <td><%= f.text_area :desccampus %></td>
        <td></td>
        <td></td>
      </tr>
     </table> 
 </div>
</div>
    <%= f.submit %>
      
    
<% end %>
