<p id="notice"><%= notice %></p>
<div id="search">
    <%= render :partial => 'handlers/search' %>
  </div>
<h1>Listing Institutehandlers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Institue id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @institutehandlers.each do |institutehandler| %>
      <tr>
        <td><%= institutehandler.name %></td>
        <td><%= institutehandler.id %></td>
        <td><%= link_to 'Show', institutehandler %></td>
        <td><%= link_to 'Edit', edit_institutehandler_path(institutehandler) %></td>
        <td><%= link_to 'Destroy', institutehandler, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Institutehandler', new_institutehandler_path %>
