<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @institutehandler.name %>
</p>

<p>
  <strong>Affiliation:</strong>
  <%= @institutehandler.affiliation %>
</p>

<p>
  <strong>Established:</strong>
  <%= @institutehandler.Established %>
</p>

<p>
  <strong>Affiliation:</strong>
  <%= @institutehandler.affiliation %>
</p>

<p>
  <strong>Type:</strong>
  <%= @institutehandler.institutetype %>
</p>

<p>
  <strong>City:</strong>
  <%= @institutehandler.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @institutehandler.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @institutehandler.country %>
</p>

<p>
  <strong>Address:</strong>
  <%= @institutehandler.address %>
</p>

<p>
  <strong>Descintroduction:</strong>
  <%= @institutehandler.descintroduction %>
</p>

<p>
  <strong>Descacademics:</strong>
  <%= @institutehandler.descacademics %>
</p>

<p>
  <strong>Descinfra:</strong>
  <%= @institutehandler.descinfra %>
</p>

<p>
  <strong>Desceaa:</strong>
  <%= @institutehandler.desceaa %>
</p>

<p>
  <strong>Descnotablesuccess:</strong>
  <%= @institutehandler.descnotablesuccess %>
</p>

<p>
  <strong>Descmotto:</strong>
  <%= @institutehandler.descmotto %>
</p>

<p>
  <strong>Desccampus:</strong>
  <%= @institutehandler.desccampus %>
</p>

<p>
  <strong>Latitute:</strong>
  <%= @institutehandler.latitute %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @institutehandler.longitude %>
</p>

<p>
  <strong>Accomodation:</strong>
  <%= @institutehandler.accomodation %>
</p>

<p>
  <strong>Website:</strong>
  <%= @institutehandler.website %>
</p>



<%= link_to 'Edit', edit_institutehandler_path(@institutehandler) %> |
<%= link_to 'Back', institutehandlers_path %>
