<ul class="nav nav-tabs">
  <li role="presentation" class="active"><%= link_to 'Institutions', institutehandlers_path %></li>
  <li role="presentation" ><%= link_to 'Institution based listings', handlers_path %></li>
</ul>
<div class="page-header"><h2>Listing Institute</h2><%= link_to 'Create New Institute', new_institutehandler_path %></div>
<p id="notice"><%= notice %></p>
<p>
<table class="table" style="width:960px">
  <tr>
    <th style="width:100px">Attribute</th>  
    <th>Value</th>
  </tr>

  <tr>
  <td>Name:</td>
  <td><%= @institutehandler.name %></td>
  </tr>

  <tr>
  <td>Affiliation:</td>
  <td><%= @institutehandler.affiliation %></td>
  </tr>

  <tr>
  <td>Established:</td>
  <td><%= @institutehandler.Established %></td>
  </tr>

  <tr>
  <td>Affiliation:</td>
  <td><%= @institutehandler.affiliation %></td>
  </tr>

  <tr>
  <td>Type:</td>
  <td><%= @institutehandler.institutetype %></td>
  </tr>

  <tr>
  <td>City:</td>
  <td><%= @institutehandler.city %></td>
  </tr>

  <tr>
  <td>State:</td>
  <td><%= @institutehandler.state %></td>
  </tr>

  <tr>
  <td>Country:</td>
  <td><%= @institutehandler.country %></td>
  </tr>

  <tr>
  <td>Address:</td>
  <td><%= @institutehandler.address %></td>
  </tr>

  <tr>
  <td>Descintroduction:</td>
  <td><%= @institutehandler.descintroduction %></td>
  </tr>

  <tr>
  <td>Descacademics:</td>
  <td><%= @institutehandler.descacademics %></td>
  </tr>

  <tr>
  <td>Descinfra:</td>
  <td><%= @institutehandler.descinfra %></td>
  </tr>

  <tr>
  <td>Desceaa:</td>
  <td><%= @institutehandler.desceaa %></td>
  </tr>

  <tr>
  <td>Descnotablesuccess:</td>
  <td><%= @institutehandler.descnotablesuccess %></td>
  </tr>

  <tr>
  <td>Descmotto:</td>
  <td><%= @institutehandler.descmotto %></td>
  </tr>

  <tr>
  <td>Desccampus:</td>
  <td><%= @institutehandler.desccampus %></td>
  </tr>

  <tr>
  <td>Latitute:</td>
  <td><%= @institutehandler.latitute %></td>
  </tr>

  <tr>
  <td>Longitude:</td>
  <td><%= @institutehandler.longitude %></td>
  </tr>

  <tr>
  <td>Accomodation:</td>
  <td><%= @institutehandler.accomodation %></td>
  </tr>

  <tr>
  <td>Website:</td>
  <td><%= @institutehandler.website %></td>
  </tr>

</table>

<%= link_to 'Edit', edit_institutehandler_path(@institutehandler) %> |
<%= link_to 'Back', institutehandlers_path %>
