<p id="notice"><%= notice %></p>

<p>
 
  <p> </p>
 </p>




  <%= @handler.level %>



  <%= @handler.course %> at <%= @handler.institutehandler.name %>



<p>
  <strong>Eligibility:</strong>
  <%= @handler.id %>
</p>

<p>
  <strong>duration:</strong>
  <%= @handler.duration %>
</p>

<p>
  <strong>commencement:</strong>
  <%= @handler.commencement %>
</p>

<p>
  <strong>averagefees:</strong>
  <%= @handler.averagefees %>
</p>

<p>
  <strong>averagebatchstrength:</strong>
  <%= @handler.averagebatchstrength %>
</p>

<p>
  <strong>descintroduction:</strong>
  <%= @handler.descintroduction %>
</p>

<p>
  <strong>desccurriculum:</strong>
  <%= @handler.desccurriculum %>
</p>

<p>
  <strong>descfuturescope:</strong>
  <%= @handler.descfuturescope %>
</p>

<p>
  <strong>descinfra:</strong>
  <%= @handler.descinfra %>
</p>
<p>
  <strong>descnotableprofessors:</strong>
  <%= @handler.descnotableprofessors %>
</p>
<p>
  <strong>descinternships:</strong>
  <%= @handler.descinternships %>
</p>
<p>
  <strong>descplacements:</strong>
  <%= @handler.descplacements %>
</p>
<p>
  <strong>admission:</strong>
  <%= @handler.admission %>
</p>
<div class="remoteform">
<h2> add review </h2>
<%= render partial: 'textreviews/form', locals: {doajax: true} %>
</div>