<p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>

<div class="row" >
    <div class="col s2" >
      
        logo
    
    </div>
    <div class="col s10" >
        
         
        <h5><b><span style="border-bottom:2px solid #b71c1c"><%= @institute.name %></span></b></h5>
        <p><%= @institute.city %>, <%= @institute.state %> <% if @institute.institutetype %> | <% end %> <%= @institute.institutetype %> </p>
        
        <h6><span style="border-bottom:2px solid #b71c1c"><b>About</b></span>  </h6> 
        <p align="justify" class="hide-on-small-only"><%= @institute.descintroduction %><a href="#">Know more...</a></p>  

        <a class="btn " onClick="$('#courselist').openModal();">Courses offered</a>
          


          <div id="courselist" class="modal">
              <div class="modal-content">
                <h4>Modal Header</h4>
                <p>A bunch of text</p>
              </div>
              <div class="modal-footer">
                <a href="#" class="waves-effect waves-green btn-flat modal-action modal-close">Agree</a>
              </div>
            </div>










            <div class="remoteform">
            <h2> add review </h2>
            <%= render partial: 'coursereviews/form', locals: {doajax: true} %>
            </div>
  

             <% @institute.coursereviews.each do |review| %>
              <b><%= review.user.email %></b> says </br>
              <%= review.body %>
              </br>
            <%end%>




    </div>
</div> 