
  <% if @coursereview.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coursereview.errors.count, "error") %> prohibited this coursereview from being saved:</h2>

      <ul>
      <% @coursereview.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% doajax = false unless (defined? doajax) %>
<div id="reviewform" onClick="<% if current_user == nil%>$('#userbox').openModal();$('ul.tabs').tabs();<%end%>">
<%= form_for(@coursereview,remote: true) do |f| %>
  <div class="field">
    <%= f.label :coursename %><br>
    <%= f.text_field :coursename %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.label :alumni %><br>
    <%= f.text_area :alumni %>
  </div>
  
  <div class="field">
    <%= f.hidden_field :institutehandler_id, :value => @institute.id %><br>
    
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>

<div id="userbox" class="modal">
  <div class="modal-content">
               



               
  </div>
 </div>