<% if @textreview.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@textreview.errors.count, "error") %> prohibited this textreview from being saved:</h2>

      <ul>
      <% @textreview.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% doajax = false unless (defined? doajax) %>
<%= form_for(@textreview, remote: true) do |f| %>
  <div class="field">
     About course curriculum and institution?
     <br/>
     <%= f.text_area :body, placeholder: "Covers course curriculum structure, faculty quality, facilities, or anything which makes it great." %>
  </div>
    <%= f.label :notablealumnies %><br>
    <%= f.text_area :notablealumnies,laceholder: "If you know someone who has done great with his life, do let us and others know"%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
