<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @textreview.body %>
  <%= @textreview.notablealumnies %>
</p>

<%= link_to 'Edit', edit_textreview_path(@textreview) %> |
<%= link_to 'Back', textreviews_path %>
