<p id="notice"><%= notice %></p>

<p>
  <strong>Test1:</strong>
  <%= @test.test1 %>
</p>

<p>
  <strong>Test2:</strong>
  <%= @test.test2 %>
</p>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
