<!DOCTYPE html>
<html>
<head>
  <title>Classmodium</title>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %> 
  <%= csrf_meta_tags %>
  <script type="text/javscript">
  $(document).ready(function(){
    $('.tabs-wrapper .row').pushpin({ top: $('.tabs-wrapper').offset().top });
  });
  </script>
  </head>
<body>
<!-- nav bar -->
<div class="navbar-fixed">
 <nav class="grey darken-3" style="height=">
    <div class="nav-wrapper">
      <div class="container">
        <%= link_to "Classmodium",root_url, class: "brand-logo" %>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if current_user == nil %>
        <li><%= link_to "Sign In ", new_user_session_path %></li>
        <li><%= link_to "Sign Up ", new_user_registration_path %></li>
        <% else %>
        <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
        <% end %>        
        </ul>
      </div>
    </div>
  </nav>
</div>
<!-- nav bar -->



<!-- secondary nav -->
<div class="container" style="height:40px;">
  <div class="row">
    <div class="col s6">
   </div>
    <div class="col s6">
    </div>
  </div>
</div>
<!-- secondary nav -->





<!-- page render -->
    <div class="container" style="min-height:1000px;border-top:1px solid #b71c1c ">
       
        <%= yield %>
   </div>
<!-- page render -->






</body>
</html>
